<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
    <stringAttribute key="configurationName" value="Model_1_SnapShot_1744473072822"/>
    <intAttribute key="distributedFPSetCount" value="0"/>
    <stringAttribute key="distributedNetworkInterface" value="192.168.0.107"/>
    <intAttribute key="distributedNodesCount" value="1"/>
    <stringAttribute key="distributedTLC" value="off"/>
    <intAttribute key="fpIndex" value="30"/>
    <intAttribute key="maxHeapSize" value="25"/>
    <stringAttribute key="modelBehaviorInit" value=""/>
    <stringAttribute key="modelBehaviorNext" value=""/>
    <stringAttribute key="modelBehaviorSpec" value="MySpec"/>
    <intAttribute key="modelBehaviorSpecType" value="1"/>
    <stringAttribute key="modelBehaviorVars" value="pendingRequests, messages, matchIndex, log, state, leaderCount, entryCommitStats, commitIndex, currentTerm, votesResponded, maxc, nextIndex, votesGranted, missingRequests, voterLog, votedFor"/>
    <stringAttribute key="modelComments" value=""/>
    <booleanAttribute key="modelCorrectnessCheckDeadlock" value="false"/>
    <listAttribute key="modelCorrectnessInvariants">
        <listEntry value="1MoreThanOneLeaderInv"/>
        <listEntry value="1LogMatchingInv"/>
        <listEntry value="1LeaderCompletenessInv"/>
        <listEntry value="1LogInv"/>
        <listEntry value="0LeaderCommitted"/>
        <listEntry value="1MaxCInv"/>
        <listEntry value="1LeaderCountInv"/>
        <listEntry value="1MaxTermInv"/>
        <listEntry value="1EntryCommitMessageCountInv"/>
    </listAttribute>
    <listAttribute key="modelCorrectnessProperties"/>
    <intAttribute key="modelEditorOpenTabs" value="10"/>
    <stringAttribute key="modelExpressionEval" value=""/>
    <stringAttribute key="modelParameterActionConstraint" value=""/>
    <listAttribute key="modelParameterConstants">
        <listEntry value="AppendEntriesResponse;;AppendEntriesResponse;1;0"/>
        <listEntry value="Follower;;Follower;1;0"/>
        <listEntry value="Leader;;Leader;1;0"/>
        <listEntry value="MaxTerm;;2;0;0"/>
        <listEntry value="Nil;;Nil;1;0"/>
        <listEntry value="RequestVoteResponse;;RequestVoteResponse;1;0"/>
        <listEntry value="MaxBecomeLeader;;1;0;0"/>
        <listEntry value="Candidate;;Candidate;1;0"/>
        <listEntry value="RequestVoteRequest;;RequestVoteRequest;1;0"/>
        <listEntry value="AppendEntriesRequest;;AppendEntriesRequest;1;0"/>
        <listEntry value="Value;;{&quot;v1&quot;,&quot;v2&quot;};0;0"/>
        <listEntry value="Server;;{&quot;r1&quot;,&quot;r2&quot;,&quot;r3&quot;};0;0"/>
        <listEntry value="MaxClientRequests;;2;0;0"/>
        <listEntry value="RecoveryResponse;;RecoveryResponse;1;0"/>
        <listEntry value="RecoveryRequest;;RecoveryRequest;1;0"/>
    </listAttribute>
    <stringAttribute key="modelParameterContraint" value="MyConstraint"/>
    <listAttribute key="modelParameterDefinitions"/>
    <stringAttribute key="modelParameterModelValues" value="{}"/>
    <stringAttribute key="modelParameterNewDefinitions" value=""/>
    <intAttribute key="modelVersion" value="20191005"/>
    <intAttribute key="numberOfWorkers" value="4"/>
    <stringAttribute key="result.mail.address" value=""/>
    <stringAttribute key="specName" value="raftModelPerf_switch"/>
    <stringAttribute key="tlcResourcesProfile" value="local custom"/>
</launchConfiguration>
